:root{
    --bg-color: #E6E6E6;
    --blue : #224764;
    --grey: #555;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fk-cvrltr-1{
    width: 794px;
    height: 1123px;
    background-color: var(--bg-color); 
    margin: auto;
    position: relative;
    overflow: hidden;
}

.fk-cvrltr-1 .style-top{
    width: 100%;
}

.fk-cvrltr-1 .style-bottom{
    width: 40%;
    height: 3rem;
    position: absolute;
    bottom: 9.95rem;
    right: 0;
}

.fk-cvrltr-1 .style-top img,
.fk-cvrltr-1 .style-bottom img
{
    width: 100%;
}

.fk-cvrltr-1 .container{
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

.fk-cvrltr-1 .header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2.5rem;
    margin-top: -6.5rem;
}

.fk-cvrltr-1 .header .profile-img{
    width: 11.5rem;
    height: 11.5rem;
}

.fk-cvrltr-1 .header .profile-img img{
    width: 100%;
    border-radius: 1rem;
    border: .2rem solid var(--blue);
}

.fk-cvrltr-1 .header .info{
    width: 49%;
}

.fk-cvrltr-1 .header .info h1{
    font-size: 2rem;
    color: var(--blue);
    margin-bottom: 1.75rem;
    text-transform: capitalize;
}

.fk-cvrltr-1 .header .info .contacts{
    margin-top: 1rem;
}

.fk-cvrltr-1 .header .info .contacts .contact-item{
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
}

.fk-cvrltr-1 .header .info .contacts .contact-item i{
    font-size: .85rem;
    width: 1.3rem;
    height: 1.3rem;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}

.fk-cvrltr-1 .header .info .contacts .contact-item span{
    font-size: .8rem;
    line-height: 1.3;
    color: var(--grey);
}

/**************/

.fk-cvrltr-1 .letter h2{
    font-size: .9rem;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.fk-cvrltr-1 .letter p{
    color: var(--grey);
    margin-bottom: 1.5rem;
    font-size: .9rem;
    line-height: 1.5;
}

.fk-cvrltr-1 .letter p:last-of-type{
    margin-bottom: 2rem;
}

.fk-cvrltr-1 .letter h3{
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    font-family: "Sassy Frass", serif;
}




/********************** Media Query ***********************/



@media(max-width : 794px){

    html{
        font-size: 10.9px;
    }

    .fk-cvrltr-1{
        width: 542px;
        height: 767px;
    }
}

@media(max-width : 542px){

    html{
        font-size: 6px;
    }

    .fk-cvrltr-1{
        width: 300px;
        height: 425px;
    }
}


/**************************/


@media print{

    @page {
        margin: 0;
        padding: 0;
    }

    :root{
        --bg-color: #E6E6E6;
        --blue : #224764;
        --grey: #555;
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        box-sizing: border-box;
        background-color: #777;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .fk-cvrltr-1{
        width: 794px;
        height: 1123px;
        background-color: var(--bg-color); 
        margin: auto;
        position: relative;
        overflow: hidden;
    }
    
    .fk-cvrltr-1 .style-top{
        width: 100%;
    }
    
    .fk-cvrltr-1 .style-bottom{
        width: 40%;
        height: 3rem;
        position: absolute;
        bottom: 9.95rem;
        right: 0;
    }
    
    .fk-cvrltr-1 .style-top img,
    .fk-cvrltr-1 .style-bottom img
    {
        width: 100%;
    }
    
    .fk-cvrltr-1 .container{
        padding-left: 6.25rem;
        padding-right: 6.25rem;
    }
    
    .fk-cvrltr-1 .header{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 2.5rem;
        margin-top: -6.5rem;
    }
    
    .fk-cvrltr-1 .header .profile-img{
        width: 11.5rem;
        height: 11.5rem;
    }
    
    .fk-cvrltr-1 .header .profile-img img{
        width: 100%;
        border-radius: 1rem;
        border: .2rem solid var(--blue);
    }
    
    .fk-cvrltr-1 .header .info{
        width: 49%;
    }
    
    .fk-cvrltr-1 .header .info h1{
        font-size: 2rem;
        color: var(--blue);
        margin-bottom: 1.75rem;
        text-transform: capitalize;
    }
    
    .fk-cvrltr-1 .header .info .contacts{
        margin-top: 1rem;
    }
    
    .fk-cvrltr-1 .header .info .contacts .contact-item{
        display: flex;
        align-items: center;
        margin-bottom: .25rem;
    }
    
    .fk-cvrltr-1 .header .info .contacts .contact-item i{
        font-size: .85rem;
        width: 1.3rem;
        height: 1.3rem;
        color: var(--blue);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .5rem;
    }
    
    .fk-cvrltr-1 .header .info .contacts .contact-item span{
        font-size: .8rem;
        line-height: 1.3;
        color: var(--grey);
    }
    
    /**************/
    
    .fk-cvrltr-1 .letter h2{
        font-size: .9rem;
        margin-bottom: 1.5rem;
        text-transform: capitalize;
    }
    
    .fk-cvrltr-1 .letter p{
        color: var(--grey);
        margin-bottom: 1.5rem;
        font-size: .9rem;
        line-height: 1.5;
    }
    
    .fk-cvrltr-1 .letter p:last-of-type{
        margin-bottom: 2rem;
    }
    
    .fk-cvrltr-1 .letter h3{
        font-size: 3rem;
        font-weight: normal;
        margin-bottom: 1.5rem;
        text-transform: capitalize;
        font-family: "Sassy Frass", serif;
    }
    
}

