:root{
    --biege: #E2D8CE ;
    --brown: #5C3D31 ;
    --grey: #EEEEEE ;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #999;
    font-family: "Roboto", serif;
}

.fk-temp-6{
    width: 794px;
    height: 1123px;
    background-color: var(--biege); 
    margin: auto;
    overflow: hidden;
}

.fk-temp-6 .container{
    padding: 0 1.5rem;
}

.fk-temp-6 p{
    font-size: .8rem;
    line-height: 1.5;
}

.fk-temp-6 ul{
    padding-left: 1rem;
}


/**********************/


.fk-temp-6 .header-content .info{
    padding: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.fk-temp-6 .header-content .info .profile-img{
    width: 12rem;
    height: 12rem;
}
.fk-temp-6 .header-content .info .profile-img img{
    width: 100%;
    border-radius: 50%;
    border: .25rem solid var(--brown);
}

.fk-temp-6 .header-content .info .name-area h1{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--brown);
    font-weight: 900;
}

.fk-temp-6 .header-content .info .name-area h2{
    font-size: 1.35rem;
    letter-spacing: .1rem;
    margin-top: -.4rem;
    text-transform: uppercase;
    color: var(--brown);
    font-weight: 500;
}

.fk-temp-6 .header-content .contacts{
    padding: 1.15rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--brown);
    color: var(--grey);
}

.fk-temp-6 .header-content .contacts .contact-item{
    display: flex;
    align-items: center;
    gap:.4rem;
}

.fk-temp-6 .header-content .contacts .contact-item i{
    font-size: .8rem;
}

.fk-temp-6 .header-content .contacts .contact-item span{
    font-size: .7rem;
}


/*****************/

.fk-temp-6 .main{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #444;
}

.fk-temp-6 .main .main-content{
    display: flex;
    gap: 2rem;
}

.fk-temp-6 .main .main-content .left{
    width: 35%;
    margin-top: 1rem;
}

.fk-temp-6 .main .main-content .left .left-content{
    background-color: var(--brown);
    border-radius: 2.5rem;
    padding: 1.75rem;
    color: var(--grey)
}

.fk-temp-6 .main .main-content .left .left-content h3{
    text-transform: capitalize;
    font-size: 1.5rem;
    letter-spacing: .15rem;
    margin-bottom: .75rem;
    color: #fff;
}

.fk-temp-6 .main .main-content .left-content .edu-item{
    padding-top: .5rem;
    margin-bottom: .75rem;
}

.fk-temp-6 .main .main-content .left-content .edu-item h4{
    font-size: .85rem;
    color: #fff;
    margin-bottom: .35rem;
}

.fk-temp-6 .main .main-content .left-content .edu-item span{
    font-size: .75rem;
}

.fk-temp-6 .main .main-content .left-content .certifications{
    margin-top: 2rem;
}

.fk-temp-6 .main .main-content .left-content .certifications li{
    font-size: .8rem;
    line-height: 1.5;
    margin-bottom: .2rem;
}

.fk-temp-6 .main .main-content .skills{
    margin-top: 2rem;
}

.fk-temp-6 .main .main-content .skills .skill-item{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    gap: .5rem;
}

/* .fk-temp-6 .main .main-content .skills .skill-item p{
    text-wrap: nowrap;
} */

.fk-temp-6 .main .main-content .skills .skill-item .progress-area .progress-bar{
    width: 4.5rem;
    height: .35rem;
    background-color: var(--grey);
    border: .1rem solid #933A19;
    border-radius: .3rem;
}

.fk-temp-6 .main .main-content .skills .skill-item .progress-area .progress-bar .sk{
    background-color: #EED7B0;
    position: relative;
    width: 60%;
    height: 100%;
    border-radius: .3rem;
}

.fk-temp-6 .main .main-content .skills .skill-item .progress-area .progress-bar .sk-1{
    width: 70%;
}

.fk-temp-6 .main .main-content .skills .skill-item .progress-area .progress-bar .sk .ball{
    width: .63rem;
    height: .63rem;
    border-radius: 50%;
    background-color: #9C775D;
    border: .05rem solid #933A19;
    display: block;
    position: absolute;
    right: -.3rem;
    top: -.2rem
}

.fk-temp-6 .main .main-content .left-content .langs{
    margin-top: 2rem;
}

.fk-temp-6 .main .main-content .left-content .langs ul{
    padding-left: 0;
}

.fk-temp-6 .main .main-content .left-content .langs li{
    font-size: .8rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.fk-temp-6 .main .main-content .left-content .langs li span{
    min-width: 30%;
}

.fk-temp-6 .main .main-content .left-content .langs li div{
    display: flex;
    align-items: center;
}

.fk-temp-6 .main .main-content .left-content .langs li div i{
    font-size: .65rem;
    margin-right: .1rem;
    color: var(--biege);
}

/*********/

.fk-temp-6 .main .main-content .right{
    width: 65%;
    margin-top: 2rem;
    color: #333;
}

.fk-temp-6 .main .main-content .right h3{
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: .15rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    color: var(--brown);
    border-bottom: .1rem solid var(--brown);
}

.fk-temp-6 .main .main-content .right p{
    font-size: .85rem;
}

.fk-temp-6 .main .main-content .right .right-content .about{
    margin-bottom: 1rem;
}

.fk-temp-6 .main .main-content .right .right-content .experience .work-item{
    margin-bottom: 1rem;
}

.fk-temp-6 .main .main-content .right-content .experience .work-item .company-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .4rem;
    margin-right: 1.5rem;
}

.fk-temp-6 .main .main-content .right-content .experience .work-item .company-time h4{
    font-size: .9rem;
    color: var(--brown);
}

.fk-temp-6 .main .main-content .right-content .experience .work-item .company-time span{
    font-size: .8rem;
}

.fk-temp-6 .main .main-content .right-content .experience .work-item h5{
    font-size: .8rem;
    margin-bottom: .25rem;
}

.fk-temp-6 .main .main-content .right-content .ref p{
    margin-bottom: .1rem;
    color: #503F36;
}




/********************** Media Query ***********************/



@media(max-width : 794px){

    html{
        font-size: 10.9px;
    }

    .fk-temp-6{
        width: 542px;
        height: 767px;
    }
}

@media(max-width : 542px){

    html{
        font-size: 6px;
    }

    .fk-temp-6{
        width: 300px;
        height: 425px;
    }
}


