:root{
    --bluish: #163955 ;
    --whitish: #eee;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #444;
    font-family: "Roboto", serif;
}

.fk-temp-4{
    width: 794px;
    height: 1123px;
    background-color: #fff; 
    margin: auto;
    overflow: hidden;
}

.fk-temp-4 h3{
    text-transform: uppercase;
    font-size: 1.15rem;
    letter-spacing: .15rem;
    margin-bottom: 1rem;
    font-weight: 500;
    padding-bottom: .25rem;
}

.fk-temp-4 .sidebar h3{
    border-bottom: .1rem solid var(--whitish);
}

.fk-temp-4 .main h3{
    border-bottom: .1rem solid var(--bluish);
}

.fk-temp-4 h4{
    font-size: .9rem;
    font-weight: 500;
    margin-top: .2rem;
}

.fk-temp-4 p
{
    font-size: .85rem;
    line-height: 1.5;
}

.fk-temp-4 ul{
    padding-left: 1rem;
    margin-top: .6rem;
}

/**********************/


.fk-temp-4 .content{
    display: flex;
    height: 100%;
}

.fk-temp-4 .content .sidebar{
    width: 35%;
    height: 100%;
    color:#fff;
}

.fk-temp-4 .content .sidebar .profile-image{
    width: 100%;
    height: 18rem;
}

.fk-temp-4 .content .sidebar .profile-image img{
    width: 100%;
    height: 100%;
}

.fk-temp-4 .content .sidebar .side-content{
    height: 100%;
    background: linear-gradient(to bottom, #2A2A42, #9f9de8);
    padding: 2rem 3rem 2rem 2rem;
}

.fk-temp-4 .content .sidebar .side-content .contacts{
    margin-bottom: 2.5rem;
}

.fk-temp-4 .content .sidebar .side-content .contacts .contact-item{
    display: flex;
    align-items: center;
    gap:.7rem;
    margin-bottom: 1rem;
    
}

.fk-temp-4 .content .sidebar .side-content .contacts .contact-item i{
    font-size: .9rem;
    color: var(--whitish);
    width: 1rem;
}

.fk-temp-4 .content .sidebar .side-content .contacts .contact-item span{
    font-size: .75rem;
    color: var(--whitish);
}


.fk-temp-4 .content .sidebar .side-content .education{
    margin-bottom: 2.5rem;
}

.fk-temp-4 .content .sidebar .side-content .education .edu-item{
    margin-bottom: 1.5rem;
}

.fk-temp-4 .content .sidebar .side-content .education .edu-item span{
    font-size: .85rem;
}

.fk-temp-4 .content .sidebar .side-content .education .edu-item ul li{
    color: var(--whitish);
    font-size: .8rem;
    line-height: 1.5;
}

.fk-temp-4 .content .sidebar .side-content .langs{
    margin-bottom: 2.5rem;
}

/* thanks Chat GPT */
.fk-temp-4 .content .sidebar .side-content .langs li::before {
    content: "•"; /* Custom bullet -- جابها منين مش عارف ؟ */
    left: -.75rem;
    font-size: 1.2rem;
    position: absolute;
}

.fk-temp-4 .content .sidebar .side-content .langs li{
    font-size: .8rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    position: relative;
    color:var(--whitish);
}

.fk-temp-4 .content .sidebar .side-content .langs li span{
    min-width: 35%;
}

.fk-temp-4 .content .sidebar .side-content .langs li div{
    display: flex;
    align-items: center;
}

.fk-temp-4 .content .sidebar .side-content .langs li div i{
    font-size: .65rem;
    margin-right: .1rem;
}

.fk-temp-4 .content .sidebar .side-content .skills li{
    font-size: .8rem;
    line-height: 1.5;
    margin-bottom: .35rem;
    color:var(--whitish);
}


/*************************/


.fk-temp-4 .content .main{
    width: 65%;
    color: var(--bluish);
    padding: 1rem 2rem;
}

.fk-temp-4 .content .main .header{
    padding-top: 2rem;
    padding-bottom: 3.25rem;
    text-align: center;
}

.fk-temp-4 .content .main .header h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
}

.fk-temp-4 .content .main .header h2{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    margin-top: .5rem;
}

.fk-temp-4 .content .main .profile{
    margin-bottom: 1.75rem;
}

.fk-temp-4 .content .main .profile p{
    margin-top: -.5rem;
}

.fk-temp-4 .content .main .work{
    margin-bottom: 1.75rem;
}

.fk-temp-4 .content .main .work .work-items{
    margin-top: -.5rem;
    padding-left: 1.25rem;
    position: relative;
}

.fk-temp-4 .content .main .work .work-items::before{
    content: "";
    position: absolute;
    top: .8rem;
    left: 0;
    width: .1rem;
    height: calc(100% - .8rem);
    background-color: var(--bluish);
}

.fk-temp-4 .content .main .work .work-item{
    margin-bottom: 1.1rem;
}

.fk-temp-4 .content .main .work .work-items .work-item .company-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.fk-temp-4 .content .main .work .work-items .work-item .company-time h4{
    position: relative;
}

.fk-temp-4 .content .main .work .work-items .work-item .company-time h4::before{
    content: "•"; /* Custom bullet -- جابها منين مش عارف ؟ */
    left: -1.5rem;
    top:-.5rem;
    font-size: 1.75rem;
    position: absolute;
}

.fk-temp-4 .content .main .work .work-items .work-item .company-time span{
    font-size: .85rem;
    color:#555;
}

.fk-temp-4 .content .main .work .work-items .work-item h5{
    font-size: .8rem;
    font-weight: 500;
}

.fk-temp-4 .content .main .work .work-items .work-item ul{
    padding-left: 1.25rem;
}

.fk-temp-4 .content .main .work .work-items .work-item ul li{
    font-size: .85rem;
    line-height: 1.5;
}

.fk-temp-4 .content .main .ref p.ref-name{
    font-weight: bold;
    margin-bottom: .1rem;
    margin-top: -.5rem;
}

.fk-temp-4 .content .main .ref p .key{
    font-weight: bold;
    font-size: .6rem;
    display: inline-block;
    min-width: 2.25rem;
}

.fk-temp-4 .content .main .ref p .value{
    font-size: .7rem;
}




/********************** Media Query ***********************/


 
@media(max-width : 794px){

    html{
        font-size: 10.9px;
    }

    .fk-temp-4{
        width: 542px;
        height: 767px;
    }
}

@media(max-width : 542px){

    html{
        font-size: 6px;
    }

    .fk-temp-4{
        width: 300px;
        height: 425px;
    }
}


/********** PRINT ***********/

@media print{

    @page{
        padding: 0;
        margin: 0;
    }

    :root{
        --bluish: #163955 ;
        --whitish: #eee;
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        box-sizing: border-box;
        background-color: #444;
        font-family: "Roboto", serif;
    }
    
    .fk-temp-4{
        width: 794px;
        height: 1122.5px;
        background-color: #fff; 
        margin: auto;
        overflow: hidden;
    }
    
    .fk-temp-4 h3{
        text-transform: uppercase;
        font-size: 1.15rem;
        letter-spacing: .15rem;
        margin-bottom: 1rem;
        font-weight: 500;
        padding-bottom: .25rem;
    }
    
    .fk-temp-4 .sidebar h3{
        border-bottom: .1rem solid var(--whitish);
    }
    
    .fk-temp-4 .main h3{
        border-bottom: .1rem solid var(--bluish);
    }
    
    .fk-temp-4 h4{
        font-size: .9rem;
        font-weight: 500;
        margin-top: .2rem;
    }
    
    .fk-temp-4 p
    {
        font-size: .85rem;
        line-height: 1.5;
    }
    
    .fk-temp-4 ul{
        padding-left: 1rem;
        margin-top: .6rem;
    }
    
    /**********************/
    
    
    .fk-temp-4 .content{
        display: flex;
        height: auto;
    }
    
    .fk-temp-4 .content .sidebar{
        width: 35%;
        color:#fff;
        height: auto;
    }
    
    .fk-temp-4 .content .sidebar .profile-image{
        width: 100%;
        height: 18rem;
    }
    
    .fk-temp-4 .content .sidebar .profile-image img{
        width: 100%;
        height: 100%;
    }
    
    .fk-temp-4 .content .sidebar .side-content{
        background: linear-gradient(to bottom, #2A2A42, #9f9de8);
        padding: 2rem 3rem 2rem 2rem;
        height: auto;
    }
    
    .fk-temp-4 .content .sidebar .side-content .contacts{
        margin-bottom: 2.5rem;
    }
    
    .fk-temp-4 .content .sidebar .side-content .contacts .contact-item{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        
    }
    
    .fk-temp-4 .content .sidebar .side-content .contacts .contact-item i{
        font-size: .9rem;
        color: var(--whitish);
        width: 1rem;
        margin-right:.7rem;
    }

    .fk-temp-4 .content .sidebar .side-content .contacts .contact-item span{
        font-size: .75rem;
        color: var(--whitish);
    }
    
    .fk-temp-4 .content .sidebar .side-content .education{
        margin-bottom: 2.5rem;
    }
    
    .fk-temp-4 .content .sidebar .side-content .education .edu-item{
        margin-bottom: 1.5rem;
    }
    
    .fk-temp-4 .content .sidebar .side-content .education .edu-item span{
        font-size: .85rem;
    }
    
    .fk-temp-4 .content .sidebar .side-content .education .edu-item ul li{
        color: var(--whitish);
        font-size: .8rem;
        line-height: 1.5;
    }
    
    .fk-temp-4 .content .sidebar .side-content .langs{
        margin-bottom: 2.5rem;
    }
    
    /* thanks Chat GPT */
    .fk-temp-4 .content .sidebar .side-content .langs li::before {
        content: "•"; /* Custom bullet -- جابها منين مش عارف ؟ */
        left: -.75rem;
        top:-.2rem;
        font-size: 1.2rem;
        position: absolute;
    }
    
    .fk-temp-4 .content .sidebar .side-content .langs li{
        font-size: .8rem;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        color:var(--whitish);
    }
    
    .fk-temp-4 .content .sidebar .side-content .langs li span{
        width: 35%;
        display: block;
    }
    
    .fk-temp-4 .content .sidebar .side-content .langs li div{
        display: flex;
        align-items: center;
        width: 60%;
        margin-left: 2%;
    }
    
    .fk-temp-4 .content .sidebar .side-content .langs li div i{
        font-size: .65rem;
        margin-right: .1rem;
    }

    .fk-temp-4 .content .sidebar .side-content .skills{
        margin-bottom: 1.35rem;
    }
    
    .fk-temp-4 .content .sidebar .side-content .skills li{
        font-size: .8rem;
        line-height: 1.5;
        margin-bottom: .35rem;
        color:var(--whitish);
    }
    
    
    /*************************/
    
    
    .fk-temp-4 .content .main{
        width: 65%;
        color: var(--bluish);
        padding: 1rem 2rem;
    }
    
    .fk-temp-4 .content .main .header{
        padding-top: 2rem;
        padding-bottom: 3.25rem;
        text-align: center;
    }
    
    .fk-temp-4 .content .main .header h1{
        font-size: 3.5rem;
        text-transform: uppercase;
        font-family: "Cormorant Garamond", serif;
        font-weight: 400;
    }
    
    .fk-temp-4 .content .main .header h2{
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: "Cormorant Garamond", serif;
        font-weight: 400;
        margin-top: .5rem;
    }
    
    .fk-temp-4 .content .main .profile{
        margin-bottom: 1.75rem;
    }
    
    .fk-temp-4 .content .main .profile p{
        margin-top: -.5rem;
    }
    
    .fk-temp-4 .content .main .work{
        margin-bottom: 1.75rem;
    }
    
    .fk-temp-4 .content .main .work .work-items{
        margin-top: -.5rem;
        padding-left: 1.25rem;
        position: relative;
    }
    
    .fk-temp-4 .content .main .work .work-items::before{
        content: "";
        position: absolute;
        top: .8rem;
        left: 0;
        width: .1rem;
        height:97%;
        background-color: var(--bluish);
    }
    
    .fk-temp-4 .content .main .work .work-item{
        margin-bottom: 1.1rem;
    }
    
    .fk-temp-4 .content .main .work .work-items .work-item .company-time{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .25rem;
    }
    
    .fk-temp-4 .content .main .work .work-items .work-item .company-time h4{
        position: relative;
    }
    
    .fk-temp-4 .content .main .work .work-items .work-item .company-time h4::before{
        content: "•"; /* Custom bullet -- جابها منين مش عارف ؟ */
        left: -1.5rem;
        top:-.5rem;
        font-size: 1.75rem;
        position: absolute;
    }
    
    .fk-temp-4 .content .main .work .work-items .work-item .company-time span{
        font-size: .85rem;
        color:#555;
    }
    
    .fk-temp-4 .content .main .work .work-items .work-item h5{
        font-size: .8rem;
        font-weight: 500;
    }
    
    .fk-temp-4 .content .main .work .work-items .work-item ul{
        padding-left: 1.25rem;
    }
    
    .fk-temp-4 .content .main .work .work-items .work-item ul li{
        font-size: .85rem;
        line-height: 1.5;
    }
    
    .fk-temp-4 .content .main .ref p.ref-name{
        font-weight: bold;
        margin-bottom: .1rem;
        margin-top: -.5rem;
    }
    
    .fk-temp-4 .content .main .ref p .key{
        font-weight: bold;
        font-size: .6rem;
        display: inline-block;
        min-width: 2.25rem;
    }
    
    .fk-temp-4 .content .main .ref p .value{
        font-size: .7rem;
    }
}

