:root{
    --bluish: #DFF0FE;
    --dark: #323B4C;
    --dark-grey: #535F75;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #999;
    font-family: "Roboto", serif;
}

.fk-temp-10{
    width: 794px;
    height: 1123px;
    background-color: #fff;
    color: var(--grey);
    margin: auto;
    overflow: hidden;
}

.fk-temp-10 p
{
    font-size: .85rem;
    line-height: 1.5;
}

.fk-temp-10 ul{
    padding-left: 1rem;
}

/**********************/

.fk-temp-10 .content{
    height: 100%;
}

.fk-temp-10 .header{
    height: 30%;
}

.fk-temp-10 .header .header-content{
    display: flex;
    height: 100%;
}

.fk-temp-10 .header .header-content .profile-img{
    width:33%
}

.fk-temp-10 .header .header-content .profile-img img{
    width:100%;
    height: 100%;
}

.fk-temp-10 .header .header-content .name-area{
    width:67%;
    background-color: var(--dark-grey);
}

.fk-temp-10 .header .header-content .name-area .info{
    background-color: var(--bluish);
    text-align: center;
    color: var(--dark-grey);
    padding: 3rem 2rem 1.5rem;
}

.fk-temp-10 .header .header-content .name-area .info h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-family: "Anton", serif;
    font-weight: 500;
}

.fk-temp-10 .header .header-content .name-area .info h2{
    font-size: 1.6rem;
    letter-spacing: .2rem;
    text-transform: capitalize;
    font-weight: 500;
    font-family: "Anton", serif;
    margin-top: -.6rem;
}

.fk-temp-10 .header .header-content .name-area .profile{
    padding: 1rem 2rem 1rem 4rem;
}

.fk-temp-10 .header .header-content .name-area .profile h3{
    color: #fff;
    font-size: 1.25rem;
    letter-spacing: .1rem;
    margin-bottom: .25rem;
}

.fk-temp-10 .header .header-content .name-area .profile p{
    color: #ddd;
}


/******************/

.main{
    max-height: 70%;
    background-color: #fff;
    padding: 2rem 2rem 2.5rem 2rem;
}

.main .main-content{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.main .main-content .left{
    height: 100%;
    width: 40%;
    margin-right: 5%;
    position: relative;
}

.fk-temp-10 .content .left .stupid-triangle{
    position: absolute;
    height: 10rem;
    width: 10rem;
    background-color: var(--dark);
    transform: rotate(30deg);
    left:-5.5rem;
    bottom:-11rem;
}

.main .main-content .left .left-content{
    height: 100%;
    padding-left: 2rem;
    color: var(--dark-grey);
}

.fk-temp-10 .content .left .left-content h3{
    text-transform: capitalize;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--dark-grey);
    position: relative;
}

.fk-temp-10 .content .left .left-content h3::before{
    content:"";
    width: 6rem;
    height: .08rem;
    background-color: var(--dark-grey);
    position: absolute;
    top:0;
    left:.2rem
}

.fk-temp-10 .content .left .left-content .contacts{
    margin-top: 1rem;
}

.fk-temp-10 .content .left .left-content .contacts .contact-item{
    display: flex;
    align-items: center;
    margin-bottom: .6rem;
}

.fk-temp-10 .content .left .left-content .contacts .contact-item i{
    font-size: .75rem;
    width: 1.3rem;
    height: 1.3rem;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .6rem;
}

.fk-temp-10 .content .left .left-content .contacts .contact-item span{
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.3;
}

.fk-temp-10 .content .left .left-content .education{
    margin-top: 1.25rem;
}

.fk-temp-10 .content .left .left-content .edu-item{
    margin-bottom: .9rem;
}

.fk-temp-10 .content .left .left-content .edu-item h4{
    font-size: 1.1rem;
    margin-bottom: .25rem;
}

.fk-temp-10 .content .left .left-content .edu-item p{
    font-size: .9rem;
    font-weight: bold;
}

.fk-temp-10 .content .left .left-content .edu-item span{
    font-size: .85rem;
    font-weight: bold;
}

.fk-temp-10 .content .left .left-content .expertise{
    margin-top: 1.25rem;
}

.fk-temp-10 .content .left .left-content .expertise ul{
    list-style: none;
    padding-left: 0;
}

.fk-temp-10 .content .left .left-content .expertise li{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: .7rem;
    font-weight: bold;
}

.fk-temp-10 .content .left .left-content .langs{
    margin-top: 1.25rem;
}

.fk-temp-10 .content .left .left-content .langs ul{
    list-style: none;
    padding-left: 0;
}

.fk-temp-10 .content .left .left-content .langs li{
    line-height: 1.5;
    margin-bottom: .75rem;
    display: flex;
    align-items: center;
}

.fk-temp-10 .content .left .left-content .langs li > span{
    font-size: .9rem;
    margin-right: .75rem;
    font-weight: bold;
}

.fk-temp-10 .content .left .left-content .langs li div{
    display: flex;
    align-items: center;
}


.fk-temp-10 .content .left .left-content .langs li div.stars i{
    font-size: .85rem;
    margin-right: .2rem;
    color: var(--dark);
}


/**********/


.main .main-content .right{
    height: 100%;
    width: 60%;
}

.main .main-content .right .right-content{
    background-color: var(--bluish);
    color: var(--dark);
    padding: 2rem 2rem 2rem 3rem;
    border-radius: 2rem;
}

.main .main-content .right .right-content h3{
    text-transform: capitalize;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.main .main-content .right .right-content .experience .work-item{
    margin-bottom: 1.25rem;
    margin-left: -.75rem;
}

.main .main-content .right .right-content .experience .work-item .company-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .3rem;
}

.main .main-content .right .right-content .experience .work-item .company-time h4{
    font-size: 1rem;
}

.main .main-content .right .right-content .experience .work-item .company-time span{
    font-size: .75rem;
    letter-spacing: .05rem;
    font-weight: bold;
}

.main .main-content .right .right-content .experience .work-item h5{
    font-size: .85rem;
    margin-bottom: .25rem;
}

.main .main-content .right .right-content .experience .work-item ul{
    margin-right: 2.25rem;
}

.main .main-content .right .right-content .experience .work-item li{
    font-size: .75rem;
    font-weight: bold;
    line-height: 1.5;
}

.main .main-content .right .right-content .ref{
    margin-top: 1.5rem;
    padding-right: 2rem;
}

.main .main-content .right .right-content .ref p{
    font-weight: bold;
}

.main .main-content .right .right-content .ref div{
    margin-bottom: .3rem;
}

.main .main-content .right .right-content .ref div p{
    font-size: 1.1rem;
}

.main .main-content .right .right-content .ref span.key{
    font-size: .65rem;
    display: inline-block;
    min-width: 2.3rem;
}




/********************** Media Query ***********************/



@media(max-width : 794px){

    html{
        font-size: 10.9px;
    }

    .fk-temp-10{
        width: 542px;
        height: 767px;
    }
}

@media(max-width : 542px){

    html{
        font-size: 6px;
    }

    .fk-temp-10{
        width: 300px;
        height: 425px;
    }
}



/************ Print Media Query *******************/


@media print{

    @page{
        margin: 0;
        padding: 0;
    }

    :root{
        --bluish: #DFF0FE;
        --dark: #323B4C;
        --dark-grey: #535F75;
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        box-sizing: border-box;
        background-color: #999;
        font-family: "Roboto", serif;
    }
    
    .fk-temp-10{
        width: 794px;
        height: 1123px;
        background-color: #fff;
        color: var(--grey);
        margin: auto;
        overflow: hidden;
    }
    
    .fk-temp-10 p
    {
        font-size: .85rem;
        line-height: 1.5;
    }
    
    .fk-temp-10 ul{
        padding-left: 1rem;
    }
    
    /**********************/
    
    .fk-temp-10 .content{
        height: 100%;
        overflow: hidden;
    }
    
    .fk-temp-10 .header{
        height: 30%;
    }
    
    .fk-temp-10 .header .header-content{
        display: flex;
        height: 100%;
    }
    
    .fk-temp-10 .header .header-content .profile-img{
        width:33%
    }
    
    .fk-temp-10 .header .header-content .profile-img img{
        width:100%;
        height: 100%;
    }
    
    .fk-temp-10 .header .header-content .name-area{
        width:67%;
        background-color: var(--dark-grey);
    }
    
    .fk-temp-10 .header .header-content .name-area .info{
        background-color: var(--bluish);
        text-align: center;
        color: var(--dark-grey);
        padding: 3rem 2rem 1.5rem;
    }
    
    .fk-temp-10 .header .header-content .name-area .info h1{
        font-size: 3.5rem;
        text-transform: uppercase;
        letter-spacing: .25rem;
        font-family: "Anton", serif;
        font-weight: 500;
    }
    
    .fk-temp-10 .header .header-content .name-area .info h2{
        font-size: 1.6rem;
        letter-spacing: .2rem;
        text-transform: capitalize;
        font-weight: 500;
        font-family: "Anton", serif;
        margin-top: -.6rem;
    }
    
    .fk-temp-10 .header .header-content .name-area .profile{
        padding: 1rem 2rem 1rem 4rem;
    }
    
    .fk-temp-10 .header .header-content .name-area .profile h3{
        color: #fff;
        font-size: 1.25rem;
        letter-spacing: .1rem;
        margin-bottom: .25rem;
    }
    
    .fk-temp-10 .header .header-content .name-area .profile p{
        color: #ddd;
    }
    
    
    /******************/
    
    .main{
        max-height: 70%;
        background-color: #fff;
        padding: 2rem 2rem 2.5rem 2rem;
    }
    
    .main .main-content{
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .main .main-content .left{
        height: 100%;
        width: 40%;
        margin-right: 5%;
        position: relative;
    }
    
    .fk-temp-10 .content .left .stupid-triangle{
        position: absolute;
        height: 10rem;
        width: 10rem;
        background-color: var(--dark);
        transform: rotate(30deg);
        left:-5.5rem;
        bottom:-11rem;
    }
    
    .main .main-content .left .left-content{
        height: 100%;
        padding-left: 2rem;
        color: var(--dark-grey);
    }
    
    .fk-temp-10 .content .left .left-content h3{
        text-transform: capitalize;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        padding-top: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: var(--dark-grey);
        position: relative;
    }
    
    .fk-temp-10 .content .left .left-content h3::before{
        content:"";
        width: 6rem;
        height: .08rem;
        background-color: var(--dark-grey);
        position: absolute;
        top:0;
        left:.2rem
    }
    
    .fk-temp-10 .content .left .left-content .contacts{
        margin-top: 1rem;
    }
    
    .fk-temp-10 .content .left .left-content .contacts .contact-item{
        display: flex;
        align-items: center;
        margin-bottom: .6rem;
    }
    
    .fk-temp-10 .content .left .left-content .contacts .contact-item i{
        font-size: .75rem;
        width: 1.3rem;
        height: 1.3rem;
        color: var(--dark);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .6rem;
    }
    
    .fk-temp-10 .content .left .left-content .contacts .contact-item span{
        font-size: .8rem;
        font-weight: bold;
        line-height: 1.3;
    }
    
    .fk-temp-10 .content .left .left-content .education{
        margin-top: 1.25rem;
    }
    
    .fk-temp-10 .content .left .left-content .edu-item{
        margin-bottom: .9rem;
    }
    
    .fk-temp-10 .content .left .left-content .edu-item h4{
        font-size: 1.1rem;
        margin-bottom: .25rem;
    }
    
    .fk-temp-10 .content .left .left-content .edu-item p{
        font-size: .9rem;
        font-weight: bold;
    }
    
    .fk-temp-10 .content .left .left-content .edu-item span{
        font-size: .85rem;
        font-weight: bold;
    }
    
    .fk-temp-10 .content .left .left-content .expertise{
        margin-top: 1.25rem;
    }
    
    .fk-temp-10 .content .left .left-content .expertise ul{
        list-style: none;
        padding-left: 0;
    }
    
    .fk-temp-10 .content .left .left-content .expertise li{
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: .7rem;
        font-weight: bold;
    }
    
    .fk-temp-10 .content .left .left-content .langs{
        margin-top: 1.25rem;
    }
    
    .fk-temp-10 .content .left .left-content .langs ul{
        list-style: none;
        padding-left: 0;
    }
    
    .fk-temp-10 .content .left .left-content .langs li{
        line-height: 1.5;
        margin-bottom: .75rem;
        display: flex;
        align-items: center;
    }
    
    .fk-temp-10 .content .left .left-content .langs li > span{
        font-size: .9rem;
        margin-right: .75rem;
        font-weight: bold;
    }
    
    .fk-temp-10 .content .left .left-content .langs li div{
        display: flex;
        align-items: center;
        width:60%;
    }
    
    
    .fk-temp-10 .content .left .left-content .langs li div.stars i{
        font-size: .85rem;
        margin-right: .2rem;
        color: var(--dark);
    }
    
    
    /**********/
    
    
    .main .main-content .right{
        height: 100%;
        width: 60%;
    }
    
    .main .main-content .right .right-content{
        background-color: var(--bluish);
        color: var(--dark);
        padding: 2rem 2rem 2rem 3rem;
        border-radius: 2rem;
    }
    
    .main .main-content .right .right-content h3{
        text-transform: capitalize;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        margin-bottom: 1rem;
    }
    
    .main .main-content .right .right-content .experience .work-item{
        margin-bottom: 1.25rem;
        margin-left: -.75rem;
    }
    
    .main .main-content .right .right-content .experience .work-item .company-time{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .3rem;
    }
    
    .main .main-content .right .right-content .experience .work-item .company-time h4{
        font-size: 1rem;
    }
    
    .main .main-content .right .right-content .experience .work-item .company-time span{
        font-size: .75rem;
        letter-spacing: .05rem;
        font-weight: bold;
    }
    
    .main .main-content .right .right-content .experience .work-item h5{
        font-size: .85rem;
        margin-bottom: .25rem;
    }
    
    .main .main-content .right .right-content .experience .work-item ul{
        margin-right: 2.25rem;
    }
    
    .main .main-content .right .right-content .experience .work-item li{
        font-size: .75rem;
        font-weight: bold;
        line-height: 1.5;
    }
    
    .main .main-content .right .right-content .ref{
        margin-top: 1.5rem;
        padding-right: 2rem;
    }
    
    .main .main-content .right .right-content .ref p{
        font-weight: bold;
    }
    
    .main .main-content .right .right-content .ref div{
        margin-bottom: .3rem;
    }
    
    .main .main-content .right .right-content .ref div p{
        font-size: 1.1rem;
    }
    
    .main .main-content .right .right-content .ref span.key{
        font-size: .65rem;
        display: inline-block;
        min-width: 2.3rem;
    }
    

}

